
en
conf t
enable secret cisco
no ip domain lookup
hostname Gx_Ay
username student password cisco
ip domain-name smackmypinataup.local
ip ssh version 2
crypto key generate rsa
2048
line vty 0 15
Password cisco
login local
transport input ssh
line con 0
logging synch
password cisco
service password-encryption
banner motd %

**********************************************************************

WARNING: This system is for the use of authorized clients only.
Individuals using the computer network system without authorization,
or in excess of their authorization, are subject to having all their
activity on this computer network system monitored and recorded by
system personnel.  To protect the computer network system from
unauthorized use and to ensure the computer network systems is
functioning properly, system administrators monitor this system.
Anyone using this computer network system expressly consents to such
monitoring and is advised that if such monitoring reveals possible
conduct of criminal activity, system personnel may provide the
evidence of such activity to law enforcement officers.

Access is restricted to authorized users only. Unauthorized access is
a violation of state and federal, civil and criminal laws.

**********************************************************************

%
vtp mode transparent

aaa new-model
radius-server host x.x.x.x auth-port 1645 acct-port 1646 key YOUR_SECRET_KEY
aaa authentication login default group radius local
aaa authorization exec default group radius local
ip radius source-interface Vlan5
line con 0
line vty 0 4
line vty 5 15

vlan 999
name BlackHole
Vlan 666
Name Native

Vlan 11
Name Voip
Vlan 12
Name Sales
Vlan 13
Name Manu
Vlan 14
Name RaD
Vlan 15
Name IT
Vlan 16
Name Admin
Vlan 17
Name Legal
Vlan 18 
Name Manage
Vlan 19
Name Sec

int range fa0/1-2
no shut
channel-group 1 mode active

int range fa0/3-4
no shut
channel-group 2 mode active

int port-channel 1
switchport mode trunk
switchport nonegotiate
Switchport trunk native vlan 666
Switchport trunk allowed vlan 11-19
no vtp
no shut

int port-channel 2
switchport mode trunk
switchport nonegotiate
Switchport trunk native vlan 666
Switchport trunk allowed vlan 11-19 
no vtp
no shut

int range gigabitEthernet 0/1-2
switchport access vlan 666
switchport mode access
switchport port-security
shutdown

!Port Security 
!##sales##
int ra f0/5-8
switchport access Vlan X
switchport mode access
switchport port-security 
switchport port-security mac-address sticky
switchport port-security maximum X
switchport port-security violation shutdown
spanning-tree portfast
spanning-tree bpduguard enable

!##Manufacturing##
int ra f0/9-11
Switchport access vlan X
switchport mode access
switchport port-security 
switchport port-security mac-address sticky
switchport port-security maximum X
switchport port-security violation shutdown
spanning-tree portfast
spanning-tree bpduguard enable

!##RnD##
int ra f0/12-14
Switchport access vlan X
switchport mode access
switchport port-security 
switchport port-security mac-address sticky
switchport port-security maximum X
switchport port-security violation shutdown
spanning-tree portfast
spanning-tree bpduguard enable
!##IT##
int ra f0/15-17
Switchport access vlan X
switchport mode access
switchport port-security 
switchport port-security mac-address sticky
switchport port-security maximum X
switchport port-security violation shutdown
spanning-tree portfast
spanning-tree bpduguard enable


!##Administration##
int ra f0/18-20
Switchport access vlan X
switchport mode access
switchport port-security 
switchport port-security mac-address sticky
switchport port-security maximum X
switchport port-security violation shutdown
spanning-tree portfast
spanning-tree bpduguard enable

!##Legal##
int ra f0/21-22
Switchport access vlan X
switchport mode access
switchport port-security 
switchport port-security mac-address sticky
switchport port-security maximum X
switchport port-security violation shutdown
spanning-tree portfast
spanning-tree bpduguard enable

!##Security##
int ra f0/23-24
Switchport access vlan X
switchport mode access
switchport port-security 
switchport port-security mac-address sticky
switchport port-security maximum X
switchport port-security violation shutdown
spanning-tree portfast
spanning-tree bpduguard enable
