en
conf t
enable secret cisco
no ip domain lookup
hostname Gx_Dy
username student password cisco
ip domain-name smackmypinataup.local
ip ssh version 2
crypto key generate rsa
2048
line vty 0 15
Password cisco
login local
transport input ssh
line con 0
logging synch
password cisco
service password-encryption
banner motd %
**********************************************************************

WARNING: This system is for the use of authorized clients only.
Individuals using the computer network system without authorization,
or in excess of their authorization, are subject to having all their
activity on this computer network system monitored and recorded by
system personnel.  To protect the computer network system from
unauthorized use and to ensure the computer network systems is
functioning properly, system administrators monitor this system.
Anyone using this computer network system expressly consents to such
monitoring and is advised that if such monitoring reveals possible
conduct of criminal activity, system personnel may provide the
evidence of such activity to law enforcement officers.

Access is restricted to authorized users only. Unauthorized access is
a violation of state and federal, civil and criminal laws.

**********************************************************************

%
vtp mode transparent

aaa new-model
radius-server host x.x.x.x auth-port 1645 acct-port 1646 key YOUR_SECRET_KEY
aaa authentication login default group radius local
aaa authorization exec default group radius local
ip radius source-interface Vlan5

vlan 999
name BlackHole
Vlan 666
name Native

Vlan 11
Name Voip1
Vlan 12
Name Sales1
Vlan 13
Name Manu1
Vlan 14
Name RaD1
Vlan 15
Name IT1
Vlan 16
Name Admin1
Vlan 17
Name Legal1
Vlan 18 
Name Manage1
Vlan 19
Name Sec1
!
Vlan 21
Name Voip2
Vlan 22
Name Sales2
Vlan 23
Name Manu2
Vlan 24
Name RaD2
Vlan 25
Name IT2
Vlan 26
Name Admin2
Vlan 27
Name Legal2
Vlan 28 
Name Manage2
Vlan 29
Name Sec2
!
Vlan 31
Name Voip3
Vlan 32
Name Sales3
Vlan 33
Name Manu3
Vlan 34
Name RaD3
Vlan 35
Name IT3
Vlan 36
Name Admin3
Vlan 37
Name Legal3
Vlan 38 
Name Manage3
Vlan 39
Name Sec3
!
Vlan 41
Name Voip4
Vlan 42
Name Sales4
Vlan 43
Name Manu4
Vlan 44
Name RaD4
Vlan 45
Name IT4
Vlan 46
Name Admin4
Vlan 47
Name Legal4
Vlan 48 
Name Manage4
Vlan 49
Name Sec4

int range fa0/1-2
no shut
channel-group 1 mode active

int range fa0/3-4
no shut
channel-group 2 mode active

int range fa0/5-6
no shut
channel-group 3 mode active

int range fa0/7-8
no shut
channel-group 4 mode active

Int range fa0/9-10
no shut
channel-group 6 mode active

Int range fa0/11-12
no shut
channel-group 7 mode active

Int range fa0/21-24
no shut
Channel-group 48 mode active

int range fa0/13-20
shut

int port-channel 1
switchport trunk encapsulation dot1q
switchport mode trunk
switchport nonegotiate
Switchport trunk native vlan 666
Switchport trunk allowed vlan 11-19
no vtp
no shut

int port-channel 2
switchport trunk encapsulation dot1q
switchport mode trunk
switchport nonegotiate
Switchport trunk native vlan 666
Switchport trunk allowed vlan 21-29
no vtp
no shut

int port-channel 3
switchport trunk encapsulation dot1q
switchport mode trunk
switchport nonegotiate
Switchport trunk native vlan 666
Switchport trunk allowed vlan 31-39
no vtp
no shut

int port-channel 4
switchport trunk encapsulation dot1q
switchport mode trunk
switchport nonegotiate
Switchport trunk native vlan 666
Switchport trunk allowed vlan 41-49
no vtp
no shut

int port-channel 48
No switchport
Ip add 10.0.X.1 255.255.255.252
no shut

int port-channel 46
No switchport
Ip address 10.0.X.5 255.255.255.252
no shut

int port-channel 47
No switchport
Ip address 10.0.X.13
no shut

int vlan 11
 ip add 10.0.0.2 255.255.255.224
 standby 1 ip 10.0.0.1
 standby 1 priority 150
 standby 1 preempt
!
int vlan 21
 ip add 10.0.0.34 255.255.255.224
 standby 1 ip 10.0.0.33
 standby 1 priority 150
 standby 1 preempt
!
int vlan 31
 ip add 10.0.0.66 255.255.255.224
 standby 1 ip 10.0.0.65
 standby 1 priority 150
 standby 1 preempt
!
int vlan 41
 ip add 10.0.0.98 255.255.255.224
 standby 1 ip 10.0.0.97
 standby 1 priority 150
 standby 1 preempt
!
int vlan 12
 ip add 10.0.2.2 255.255.255.240
 standby 1 ip 10.0.2.1
 standby 1 priority 110
 standby 1 preempt
!
int vlan 22
 ip add 10.0.2.18 255.255.255.240
 standby 1 ip 10.0.2.17
 standby 1 priority 110
 standby 1 preempt
!
int vlan 32
 ip add 10.0.2.34 255.255.255.240
 standby 1 ip 10.0.2.33
 standby 1 priority 110
 standby 1 preempt
!
int vlan 42
 ip add 10.0.2.50 255.255.255.240
 standby 1 ip 10.0.2.49
 standby 1 priority 110
 standby 1 preempt
!
int vlan 13
 ip add 10.0.3.2 255.255.255.224
 standby 1 ip 10.0.3.1
 standby 1 priority 150
 standby 1 preempt
!
int vlan 23
 ip add 10.0.3.34 255.255.255.224
 standby 1 ip 10.0.3.33
 standby 1 priority 150
 standby 1 preempt
!
int vlan 33
 ip add 10.0.3.66 255.255.255.224
 standby 1 ip 10.0.3.65
 standby 1 priority 150
 standby 1 preempt
!
int vlan 43
 ip add 10.0.3.98 255.255.255.224
 standby 1 ip 10.0.3.97
 standby 1 priority 150
 standby 1 preempt
!
int vlan 15
 ip add 10.0.5.2 255.255.255.240
 standby 1 ip 10.0.5.1
 standby 1 priority 110
 standby 1 preempt
!
int vlan 25
 ip add 10.0.5.18 255.255.255.240
 standby 1 ip 10.0.5.17
 standby 1 priority 110
 standby 1 preempt
!
int vlan 35
 ip add 10.0.5.34 255.255.255.240
 standby 1 ip 10.0.5.33
 standby 1 priority 110
 standby 1 preempt
!
int vlan 45
 ip add 10.0.5.50 255.255.255.240
 standby 1 ip 10.0.5.49
 standby 1 priority 110
 standby 1 preempt
!
int vlan 16
 ip add 10.0.6.2 255.255.255.240
 standby 1 ip 10.0.6.1
 standby 1 priority 110
 standby 1 preempt
!
int vlan 26
 ip add 10.0.6.18 255.255.255.240
 standby 1 ip 10.0.6.17
 standby 1 priority 110
 standby 1 preempt
!
int vlan 36
 ip add 10.0.6.34 255.255.255.240
 standby 1 ip 10.0.6.33
 standby 1 priority 110
 standby 1 preempt
!
int vlan 46
 ip add 10.0.6.50 255.255.255.240
 standby 1 ip 10.0.6.49
 standby 1 priority 110
 standby 1 preempt
!
int vlan 17
 ip add 10.0.7.2 255.255.255.248
standby 1 ip 10.0.7.1
 standby 1 priority 110
 standby 1 preempt
!
int vlan 27
 ip add 10.0.7.10 255.255.255.248
standby 1 ip 10.0.7.9
 standby 1 priority 110
 standby 1 preempt
!
int vlan 37
 ip add 10.0.7.18 255.255.255.248
 standby 1 ip 10.0.7.17
 standby 1 priority 110
 standby 1 preempt
!
int vlan 47
 ip add 10.0.7.26 255.255.255.248
 standby 1 ip 10.0.7.25
 standby 1 priority 110
 standby 1 preempt
!
int vlan 18
 ip add 10.0.7.130 255.255.255.248
 standby 1 ip 10.0.7.129
 standby 1 priority 150
 standby 1 preempt
!
int vlan 28
 ip add 10.0.7.138 255.255.255.248
 standby 1 ip 10.0.7.137
 standby 1 priority 150
 standby 1 preempt
!
int vlan 38
 ip add 10.0.7.146 255.255.255.248
 standby 1 ip 10.0.7.145
 standby 1 priority 150
 standby 1 preempt
!
int vlan 48
 ip add 10.0.7.154 255.255.255.248
 standby 1 ip 10.0.7.153
 standby 1 priority 150
 standby 1 preempt
!
int vlan 19
 ip add 10.0.8.12 255.255.255.248
 standby 1 ip 10.0.8.11
 standby 1 priority 150
 standby 1 preempt
!
int vlan 29
 ip add 10.0.8.10 255.255.255.248
 standby 1 ip 10.0.8.9
 standby 1 priority 150
 standby 1 preempt
!
int vlan 39
 ip add 10.0.8.26 255.255.255.248
 standby 1 ip 10.0.8.25
 standby 1 priority 150
 standby 1 preempt
!
int vlan 49
 ip add 10.0.8.26 255.255.255.248
 standby 1 ip 10.0.8.25
 standby 1 priority 150
 standby 1 preempt
!
